*{
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
html{
    font-size: 16px;
}
body{
    font-size: 16px;
    color: white;
    background-color: #ffffff;
    min-width: 320px;
}

img {
    max-width: 100%;
    height: auto;
}

section{
    padding: 50px 0;
}

a{
    color: #111;
}

a:hover{
    color: #555;
}

/*header*/
.navbar-dark .navbar-nav .nav-link{
    color:#ffffff;
    font-weight: 500;
    text-transform: uppercase;
}
.navbar-nav .dropdown-menu{
    right: 0;
    left: auto;
}
.top-menu li a::after{
    content: "";
    display: block;
    width: 100%;
    background-color: #ffffff;
    height: 1px;
    transition: all .3s;
    transform: scale(0);
}
.top-menu li a:hover::after{
    transform: scale(1);
}
/*header*/

/*Cart*/
.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: rgba(33, 37, 41, 1.00);
    box-shadow: -2px 0 4px hsl(0, 4%, 15% / 10%);
    z-index: 100;
    color: white;
    transition: .3s;
}
.cart.active{
    right: 0;
}
.cart-bag{
    cursor: pointer;
}
.cart-title{
    text-align: center;
}
.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 16px;
    margin-top: 16px;
}
.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}
.detail-box{
    display: grid;
    row-gap: 8px;
}
.cart-product-title{
    font-size: 16px;
    text-transform: uppercase;
}
.cart-price{
    font-weight: 500;
}
.cart-quantity{
    border: 1px solid var white;
    outline-color: var black;
    width: 2.4rem;
    text-align: center;
    font-size: 16px;
}
.cart-remove{
    font-size: 24px;
    color: white;
    cursor: pointer;
}
.total{
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
    border-top: 1px solid rgb(231, 170, 228);
}
.total-title{
    font-size: 16px;
    font-weight: 600;
}
.total-price{
    margin-left: 8px;
}
.btn-buy{
    display: flex;
    margin: 25px auto 0 auto;
    padding: 12px 20px;
    border: none;
    background:#ee6e73;
    color:#2b2a2a;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
#close-cart{
    position: absolute;
    top: 10px;
    right: 8px;
    font-size: 24px;
    cursor: pointer;
}
.btn-buy:hover{
    background-color: aquamarine;
    transition: all 0.75s;
}
/*Cart*/
/*register form*/
.container-reg {
    margin-bottom: 30px;
}
#form{
    width: 325px;
    margin: 20vh auto 10vh auto;
    padding: 20px;
    background-color: rgba(33, 37, 41, 1.00);
    border-radius: 4px;
    font-size: 12px;
}
#form h1{
    text-align: center;
}
#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: black;
    background-color: #ee6e73;
    border: none;
    border-radius: 4px;
}
.input-control {
    display: flex;
    flex-direction: column;
}
.input-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}
.input-control input:focus {
    outline: 0;
}

.input-control.success input {
    border-color: #09c372;
}
.input-control.error input {
    border-color: #ff3860;
}
/*register form*/

/*Footer*/
.footer{
    background-color: rgba(33, 37, 41, 1.00);
}

.footer h4{
    color: #ee7dff;
    text-transform: uppercase;
    font-size: 16px;
    border-bottom:1px solid #f5bdbd;
    padding-bottom: 3px;
}

.footer a{
    text-decoration: none;
    transition: all .3s;
}

.footer a:hover {
    color: aquamarine;
}

.footer a, .footer li {
    color: #c8c8c8;
}
/*Footer*/
